<%- include('partials/header') %>
<main>
<section class="error_404">
<img src="/public/images/spilled_coffee.jpg" alt="tasse de café renversée">
<h2>Oups ! La page que vous avez demandée n'existe pas !</h2>
</section>
</main>
<%- include('partials/footer') %>