
<%- include('partials/header') %>

	<!--Contenu de la page-->
	<main>
		<section class="about">
			<img src="../public/images/about.jpg" alt="Image illustrative">
			<article class="about_body">
				<h2>La boutique</h2>
				<p>Bienvenue dans notre boutique, où règne une ambiance chaleureuse et accueillante qui éveille tous vos sens. Dès que vous franchissez la porte, vous êtes enveloppé d'une douce symphonie d'arômes envoûtants de café fraîchement moulu.</p>
				<button class="button_main"><a href="#">Voir le catalogue</a></button>
			</article>
		</section>
		<section class="news">
			<h2>News</h2>
			<div class="product_list">
				<article class="product">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic quibusdam aspernatur amet quisquam dicta iusto fugiat fuga ratione possimus? Assumenda possimus fugiat quas optio, similique dolorum debitis. Nesciunt, modi incidunt!</p>
					<button class="button_secondary">Découvrir</button>
				</article>
				<article class="product">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic quibusdam aspernatur amet quisquam dicta iusto fugiat fuga ratione possimus? Assumenda possimus fugiat quas optio, similique dolorum debitis. Nesciunt, modi incidunt!</p>
					<button class="button_secondary">Découvrir</button>
				</article>
				<article class="product">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic quibusdam aspernatur amet quisquam dicta iusto fugiat fuga ratione possimus? Assumenda possimus fugiat quas optio, similique dolorum debitis. Nesciunt, modi incidunt!</p>
					<button class="button_secondary">Découvrir</button>
				</article>
			</div>
		</section>
	</main>
	
	<!--Pied de page-->
<%- include('partials/footer') %>