<%- include('partials/header') %>
	<!--Contenu de la page-->
	<main>
		<section class="product_info">
			<img src="/public/images/coffees/302932754.png" alt="image_produit">
			<article>
			<time datetime="2018-07-07"">Publié le <%= Date() %></time>
				<h2>Nom du produit</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati nulla nesciunt sit! Voluptate tempora ipsam voluptatem necessitatibus modi atque dolore distinctio, ullam quos debitis? Numquam maxime aut iste corporis fuga!</p>
				<button class="button_main">Catalogue</button>
			</article>
		</section>
	</main>
	
	<!--Pied de page-->
<%- include('partials/footer') %>